.mt-3 {
  margin-top: 2rem;
}

.mr-1 {
  margin-right: .5rem;
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline-block;
}

.data-list {
  list-style: none;
}

.data-list-item {
  display: block;
  border-bottom: 0.1rem solid #e1e1e1;
  padding-bottom: 1rem;
}
